<div class="first-item flex-h">
  <div class="flex-50">
    <div *ngFor="let persona of listadoPersonas">
      <div class="flex-h flex-100">
        <div class="flex-30 expand-center">
          <img class="image-style" src="../../assets/fotos/{{persona.id}}.jpg">
        </div>
        <div class="flex-50 flex-v">
          <div>
            {{persona.name}}
          </div>
          <div class="first-item">
            {{persona.mail}}
          </div>
          <div class="first-item" [ngClass]="{'female-container': persona.sexo == 'femenino'}">
            Sexo: {{persona.sexo}}
          </div>
        </div>
        <div class="flex-20 flex-v">
          <div>

          </div>
          <mat-checkbox (change)="editarPersona(persona, $event)">Editar</mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-50" *ngIf="personaSeleccionada.showForm">
    <app-form-persona [persona]="personaSeleccionada"></app-form-persona>
  </div>
</div>
